@import "../../../containers";
@import "../../../mixins";

a {
    text-decoration: none;
}

.link {
    width: 100%;
    pointer-events: none;

    a {
        pointer-events: none;
    }

    .flex_container {
        pointer-events: none;
        height: 250px;
    }
}