@import "../../../mixins";

.widget__container {
    position: relative;
    height: fit-content;
    cursor: pointer;
    pointer-events: auto;
    margin: 3px;
    box-shadow: 0px 0px 0px 3px $gray-1;


    &.widget__container--dragged {
        background-color: rgb(230, 230, 230);
        @include smooth;
    }

    &.widget__container--selected {
        box-shadow: 0px 0px 0px 3px $primary;
        @include smooth;
    }

    &.widget__container--pointed {
        box-shadow: 0px 0px 0px 3px #955eb9;
        @include smooth;
    }


    .action-buttons {
        position: absolute;
        right: 0;
        top: -40px
    }

    @include smooth;
}