@import "../../../mixins";

.widget__container {
    display: flex;
    position: relative;
    height: fit-content;
    cursor: pointer;
    pointer-events: auto;
    margin: 6px;
    z-index: 1;

    &.widget__container--flexWrapping {
        box-shadow: 0px 0px 0px 3px $gray-1;
    }

    &.widget__container--linkWrapping {
        background-color: $primary-light;
    }

    &.widget__container--linkWrapping::after {
        position: absolute;
        right: -32px;
        width: 24px;
        height: 24px;
        color: $white;
        border-radius: 64px;
        content: url("/src/Resources/Designer/LINK_BADGE.png");
        background-color: $primary;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.widget__container--dragged {
        background-color: rgb(230, 230, 230);
        @include smooth;
    }

    &.widget__container--selected {
        box-shadow: 0px 0px 0px 3px $primary;
        @include smooth;
    }

    &.widget__container--pointed {
        box-shadow: 0px 0px 0px 3px #955eb9;
        @include smooth;
    }


    .widget__container-action-buttons {
        background-color: $light-gray;
        align-items: center;

        padding: 6px 12px;
        display: flex;
        flex-direction: row;
        gap: 4px;
        position: absolute;
        right: 0;
        top: -40px;
        top: -47px;
        right: -3px;
        border-radius: 8px 8px 0 0;
        box-shadow: 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04), 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
    }

    @include smooth;
}