@import "./fonts";
@import "./colors";

.input__label {
    @include Label;
}


//universal wrapper with label gap
@mixin input-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

// np select__input, date__input - general inputbox apperance
@mixin __input {
    @include StrongLabel;
    height: 40px;
    padding: 0 64px 0 16px;
    border-radius: 8px;
    border: 1px solid $gray-1;
    background: $white;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
    appearance: none;
    box-sizing: border-box;
    width: 100%;
}

//universal input append - select chevron/ date picker calendar
@mixin input-append($url: url("/src/Resources/Designer/chevron.svg")) {
    content: "";

    position: absolute;
    right: 0px;
    top: 0;

    width: 40px;
    height: 40px;
    border-radius: 0 7px 7px 0;

    background: $gray-1 $url center center no-repeat;
    @include smooth;
}

@mixin input-hover {
    outline: 2px solid $primary;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05), 0px 0px 0px 4px $input-outline;
    @include smooth(box-shadow, 0.33s);
}