$white: #ffffff;
$black: #111315;
$gray-3: #1A1C1E;



$primary: #0075E7;
$secondary: #EDF3FA;
$tertiary: #BCD5F1;
$gray-1: #E1E1E1;
$gray-2: #C2C2C2;
$gray-3: #2C2C2C;

$input-outline: rgba(0, 117, 231, 0.3);


$negative: #D40C0C;
$negative-secondary: #fccfcf60;