@import "partials";
@import "colors";

img {
  pointer-events: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.app {
  background-color: #F5F5F5;
}

.designer {
  display: flex;
  flex-direction: row;
  background-color: #f3f3f3;

}

.widget__wrapper:hover {

  outline: 2px solid #955eb9;
}