@import "partials";
@import "colors";

img {
  pointer-events: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Plus Jakarta Sans', sans-serif;
}


#root {
  height: 100vh;
}

.app {
  background-color: #F5F5F5;
  height: 100%;
  overflow-y: hidden;
}

.designer {
  display: flex;
  flex-direction: row;
  background-color: #f3f3f3;

}

.widget__wrapper:hover {

  outline: 2px solid #955eb9;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 33px;
  background: #F0F0F0;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 33px;
  background: #C2C2C2;
}

::-webkit-scrollbar-thumb:hover {
  width: 8px;
  border-radius: 33px;
  background: $gray-2;
}