.canvas {
  margin: auto;
  margin-block: 64px;
  width: 1000px;
  min-height: 1200px;
  height: fit-content;
  border: 1px solid gray;
  background-color: #ffffff;
  padding: 32px;
}

.widget-panel {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-right: 1px solid gray;
  max-width: 256px;
  min-width: 256px;
  gap: 16px;
}

.properties-panel {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-left: 1px solid gray;
  padding-left: 16px;
  max-width: 256px;
  min-width: 256px;
}

.header.header--selected {
  border: 2px solid red;
}

.paragraph.paragraph--selected {
  border: 2px solid red;
}

img {
  pointer-events: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  background-color: #F5F5F5;
}

.designer {
  display: flex;
  flex-direction: row;
}
