.canvas {
  margin: auto;
  margin-block: 64px;
  width: 1000px;
  min-height: 1200px;
  height: fit-content;
  border: 1px solid gray;
  background-color: #ffffff;
  padding: 32px;
}

.widget-panel {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-right: 1px solid gray;
  max-width: 256px;
  min-width: 256px;
  gap: 16px;
}

.properties-panel {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-left: 1px solid gray;
  padding-left: 16px;
  max-width: 256px;
  min-width: 256px;
}

.widget__container {
  position: relative;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
}

.widget__container.dragged {
  background-color: rgb(230, 230, 230);
}

.widget__container.widget__container--selected {
  outline: 2px solid #0D99FF;
}

.widget__container.widget__container--pointed {
  outline: 2px solid #955eb9;
  box-shadow: 0px -7px 80px rgba(0, 0, 0, 0.07), 0px -2.92443px 33.4221px rgba(0, 0, 0, 0.0503198), 0px -1.56354px 17.869px rgba(0, 0, 0, 0.0417275), 0px -0.876509px 10.0172px rgba(0, 0, 0, 0.035), 0px -0.465507px 5.32008px rgba(0, 0, 0, 0.0282725), 0px -0.193708px 2.21381px rgba(0, 0, 0, 0.0196802);
}

img {
  pointer-events: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  background-color: #F5F5F5;
}

.designer {
  display: flex;
  flex-direction: row;
}

.widget__wrapper:hover {
  outline: 2px solid #955eb9;
}
