.canvas {
  margin: auto;
  margin-block: 64px;
  width: 1000px;
  min-height: 1200px;
  height: fit-content;
  border: 1px solid gray;
  background-color: #ffffff;
  padding: 32px;
  overflow: hidden;
}

.widget-panel {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-right: 1px solid gray;
  max-width: 256px;
  min-width: 256px;
  gap: 16px;
}

.properties-panel {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-left: 1px solid gray;
  padding-left: 16px;
  max-width: 256px;
  min-width: 256px;
}

.heading {
  display: flex;
  text-align: left;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 20px;
}

.widget__container {
  position: relative;
  height: fit-content;
  cursor: pointer;
  pointer-events: auto;
  border: 2px dashed rgba(182, 182, 182, 0.418);
}

.widget__container.dragged {
  background-color: rgb(230, 230, 230);
}

.widget__container.widget__container--selected {
  outline: 2px solid #0D99FF;
}

.widget__container.widget__container--pointed {
  outline: 2px solid #955eb9;
  box-shadow: 0px -7px 80px rgba(0, 0, 0, 0.07), 0px -2.92443px 33.4221px rgba(0, 0, 0, 0.0503198), 0px -1.56354px 17.869px rgba(0, 0, 0, 0.0417275), 0px -0.876509px 10.0172px rgba(0, 0, 0, 0.035), 0px -0.465507px 5.32008px rgba(0, 0, 0, 0.0282725), 0px -0.193708px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.flex_container {
  display: flex;
  flex-direction: column;
  padding: 36px;
  width: inherit;
  box-sizing: border-box;
  background: white;
  border-style: solid;
}

.align_center {
  align-items: center;
}

.direction_vertical {
  flex-direction: column;
}

.direction_horizontal {
  flex-direction: row;
}

.height_full {
  height: 100%;
}

.height_auto {
  height: auto;
}

.gap_space-between {
  height: 100%;
  justify-content: space-between;
}

.empty__placeholder {
  display: block;
  width: auto;
  height: 200px;
}

img {
  pointer-events: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
}

.app {
  background-color: #F5F5F5;
}

.designer {
  display: flex;
  flex-direction: row;
}

.widget__wrapper:hover {
  outline: 2px solid #955eb9;
}
